<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Listing Teams</title>
</head>
<body>
	<div class="panel panel-info" layout:fragment="content">
		<div class="panel-heading">
			Listing Teams <a href="/teams/new"
				class="btn btn-default btn-xs pull-right">New</a>
		</div>
		<div class="panel-body" th:if="!${teams.size()}">
			<p>Teams are empty</p>
		</div>
		<table class="table" th:if="${teams.size()}">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="team:${teams}" th:object="${team}">
					<td th:text="*{id}"></td>
					<td th:text="*{name}"></td>					
					<td><a class="btn btn-default btn-xs"
						th:href="@{/teams/{id}(id=*{id})}">Show</a></td>
					<td><a class="btn btn-default btn-xs"
						th:href="@{/teams/{id}/edit(id=*{id})}">Edit</a></td>
					<td>
						<form th:action="@{/teams/{id}(id=*{id})}" th:method="delete">
							<button class="btn-danger btn btn-default btn-xs">Destroy</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>